{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}" >
<body>
    <section class="login">
        <div class="login_box">
            <div class="left">
                <div class="contact">
                    
                        <p>resent link has been sent to your email, if you dont find it, check your spam </p>
                        
                       
                        
                    
                </div>
            </div>
            <div class="right">
                <img src="{% static 'imara.png' %}" alt="no image">
            </div>
        </div>
    
        
    </section>
</body> 