{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}" >
<body>
    <section class="login">
        <div class="login_box">
            <div class="left">
                <div class="contact">
                
                        <h2>reset complete</h2>
                        Your password has been successfully changed. 
                        You can now <a href="{% url 'login' %}">log in</a> with your new password.</p>
                        
                       
                        
                    </form>
                </div>
            </div>
            <div class="right">
                <img src="{% static 'imara.png' %}" alt="no image">
            </div>
        </div>
    
        
    </section>
</body> 