{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}" >
<body>
    <section class="login">
        <div class="login_box">
            <div class="left">
                <div class="contact">
                    <form method="post" action="{% url 'password_reset' %}">
                        <h2>reset your password</h2>
                        {% csrf_token %}
                        {{ form.as_p }}
                       
                        <button type="submit" class="submit">Reset password</button>
                    </form>
                </div>
            </div>
            <div class="right">
                <img src="{% static 'imara.png' %}" alt="no image">
            </div>
        </div>
    
        
    </section>
</body> 