{% extends 'header.html' %}{% load static %}{% block content %}
<link rel="stylesheet" href="{% static 'alerts.css' %}" >

<body>
  <div id="main">
    <div class="card " style="background-color: #ffffff;">
      <div id="top">{{statement.set}}</div>
    
      
      {% for items in set %}
    
        <form method="post" action="{% url 'alerts' %}">{{ items }}<input type="hidden" name="item_value" value="{{ items }}">{% csrf_token %}
        <button type=submit class="approve-btn" name="action" value="approve" >Approve transaction</button>
      
        <button type=submit class="reject-btn" name="action" value="reject">Stop transaction</button></form>
      
      {% endfor %}
    
    </div>
  </div>

</body>{% endblock %}
</html>