{% extends 'header.html' %}{% load static %}
<link rel="stylesheet" href="{% static 'alerts.css' %}" >


<body>{% block content %}

  
  <p>pending alerts: </p>
<ul> {% for items in set %}
  <li>
      <p> <form method="post" action="{% url 'alerts' %}">{{ items }}<input type="hidden" name="item_value" value="{{ items }}">{% csrf_token %}
      <button type=submit class="approve-btn" name="action" value="approve" >Approve transaction</button>
    
      <button type=submit class="reject-btn" name="action" value="reject">Stop transaction</button></form></p>
  </li>
{% endfor %}</ul>

{% endblock %}
</body>
</html>