{% extends 'header.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'blacklist.css' %}" >

<body>
    <div id="modalButtons" style="display: none;">
        <div class="card " id="cards3" >
            <button class="modal-btn" id="change" data-action="change" onclick="openModal('change')">Change</button>
            <button class="modal-btn" id="delete" data-action="delete" onclick="openModal('delete')">Delete</button>
        </div>
    </div>
    <div id="main">
        <div id="title">
            <h3>Blacklist</h3> <button id="add" onclick=" openForm(event)">Add to blacklist</button>
           
        </div>
       
        <div id="formModal" class="modal">

            <div class="modal-content">
                <span class="close" onclick="closeForm()">&times;</span>
                <form method='post' action="{% url 'reports' %}">
                    {% csrf_token %}
                    <label for="transactionid">Transaction Id:</label><br>
                    <input type="text" id="transactionid" name="transactionid"><br>
                        Category:<br>
                    <input type="radio" id="false positive" name="report_status" value="false positive">
                    <label for="false positive">False positive</label><br>
                    <input type="radio" id="false negative" name="report_status" value="false negative">
                    <label for="false negative">False negative</label><br>
                    <input type="radio" id="false negative" name="report_status" value="false negative">
                    <label for="false negative">New Addition</label><br>
                    <input type="submit" name="action" value="submit" >
                </form>
            </div></div>
       

        <div class="modal" id="myModal">
            <div class="modal-content" id="modalContent">
                <p id="modalMessage"></p>
            </div>
        </div>

        <div class="card" style="background-color: #ffffff;">
            <table id="myTable">
                <thead>
                    <tr>
                        <th>Blacklist Id</th>
                        <th>Transaction Id</th>
                        <th>Category</th>
                        <!-- <th>Actions</th> -->
                        <th>
                            Selected<input type="checkbox" id="selectAllCheckbox">
                        </th>
                        <th>
                            <div id="modalButtonsContainer" style="display: none;">
                                <a href="#" id="showModalButtonsLink"><img src="{% static 'options_13525834.png' %}"id= 'menudots'></a>
                            </div>
                        </th>

                      
                    </tr>
                </thead>
                <tbody>
                    {% for items in set %}
                        <tr>
                            <td>{{ items.blacklistid }}</td>
                            <td>{{ items.transactionid }}</td>
                            <td>{{ items.category }}</td>
                            <!-- <td>
                                <form method="post" action="{% url 'blacklist' %}">
                                    <input type="hidden" name="item_value" value="{{ items }}">
                                    {% csrf_token %}
                                    <button type="submit" class="approve-btn" name="action" value="approve">Change</button>
                                    <button type="submit" class="reject-btn" name="action" value="reject">Delete</button>
                                </form>
                            </td> -->
                            <td>
                                <input type="checkbox" class="itemCheckbox" data-item-id="{{ items.blacklistid }}">
                            </td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Overlay -->
        <div class="overlay" id="overlay" onclick="closeModal()"></div>

        <!-- Success message pop-up -->
        <div class="success-popup" id="successPopup">
            <p>  Done !</p>
        </div>
    </div>

    <script>
         // Global variable to store the current state/modal
        let currentState = 'mainChange';

        function openModal(action) {
            const modal = document.getElementById("myModal");
            const overlay = document.getElementById("overlay");
            const modalContent = document.getElementById("modalContent");

        // Set the current state/modal
        currentState = action;

        if (action === 'change') {
            modalContent.innerHTML = 'Select Change Option:';
            modalContent.appendChild(createModalOptionButton('Transaction ID', 'transactionId'));
            modalContent.appendChild(createModalOptionButton('Category', 'category'));
            const applyButton = createModalOptionButton('Apply', 'applyChange');
            const backButton = createModalOptionButton('Back', 'mainChange');
            modalContent.appendChild(applyButton);
           
            
        } else if (action === 'transactionId') {
            modalContent.innerHTML = '<label for="transactionId">Enter ID:</label>' +
                '<input type="text" id="transactionId" placeholder="Enter ID">';
            const applyButton = createModalOptionButton('Apply', 'applyTransactionId');
            const backButton = createModalOptionButton('Back', 'mainChange');  // Change state to 'mainChange' here
            modalContent.appendChild(applyButton);
            modalContent.appendChild(backButton);
            
        } else if (action === 'category') {
            modalContent.innerHTML = '<label for="category">Select Category:</label>' +
                '<select id="category">' +
                '<option value="true_positive">True Positive</option>' +
                '<option value="false_negative">False Negative</option>' +
                '<option value="new_addition">New Addition</option>' +
                '</select>';
                const applyButton = createModalOptionButton('Apply', 'applyCategory');
                const backButton = createModalOptionButton('Back', 'mainChange');  // Change state to 'mainChange' here
            
                modalContent.appendChild(backButton);
                modalContent.appendChild(applyButton);
        } else if (action === 'delete') {
            modalContent.innerHTML = 'Are you sure you want to delete?';
            const confirmButton = createModalOptionButton('Confirm', 'confirmDelete');
            const backButton = createModalOptionButton('Back', 'mainChange');
            modalContent.appendChild(confirmButton);
            
        }
            modal.style.display = "block";
            overlay.style.display = "block";
        }

        function createModalOptionButton(text, action) {
    const button = document.createElement("button");
    button.textContent = text;
    button.classList.add("modal-option");

    // Add specific class based on the action
    if (action === 'applyChange' || action === 'applyTransactionId' || action === 'applyCategory') {
        button.classList.add("apply-button");
    } else if (action === 'backChange' || action === 'mainChange') {
        button.classList.add("back-button");
    }

    button.setAttribute("data-action", action);
    button.onclick = function () {
        handleModalOptionClick(button);
    };
    return button;
}

        function handleModalOptionClick(button) {
    const modalContent = document.getElementById("modalContent");

    if (button.getAttribute("data-action") === "transactionId") {
    modalContent.innerHTML = '<label for="transactionId">Enter ID:</label>' +
        '<input type="text" id="transactionId" placeholder="Enter ID">' +
        '<br>'; // Add a line break
    const applyButton = createModalOptionButton('Apply', 'applyTransactionId');
    const backButton = createModalOptionButton('Back', 'mainChange');
    modalContent.appendChild(applyButton);
    modalContent.appendChild(backButton);
} else if (button.getAttribute("data-action") === "category") {
    modalContent.innerHTML = '<label for="category">Select Category:</label>' +
        '<select id="category">' +
        '<option value="true_positive">True Positive</option>' +
        '<option value="false_negative">False Negative</option>' +
        '<option value="new_addition">New Addition</option>' +
        '</select>' +
       
        '<br>';
        
    const applyButton = createModalOptionButton('Apply', 'applyCategory');
    const backButton = createModalOptionButton('Back', 'mainChange');
    modalContent.appendChild(applyButton);
    modalContent.appendChild(backButton);


    } else if (button.getAttribute("data-action") === "mainChange") {
        // Handle going back to the main "Change" modal
        modalContent.innerHTML = 'Select Change Option:' +
        '<br>'; // Add a line break;
        modalContent.appendChild(createModalOptionButton('Transaction  ID ', 'transactionId'));
        modalContent.appendChild(createModalOptionButton('Category', 'category'));
        const applyButton = createModalOptionButton('Apply', 'applyChange');
        const backButton = createModalOptionButton('Back', 'backChange');
        modalContent.appendChild(applyButton);
        
    } else {
        closeModal();
        showSuccessPopup();
    }
}

        function closeModal() {
            const modal = document.getElementById("myModal");
            const overlay = document.getElementById("overlay");
            const modalContent = document.getElementById("modalContent");

            modalContent.innerHTML = '';

            modal.style.display = "none";
            overlay.style.display = "none";
        }

        function showSuccessPopup() {
            const successPopup = document.getElementById("successPopup");

            successPopup.style.display = "block";

            setTimeout(function () {
                successPopup.style.display = "none";
            }, 3000);
        }
        const selectAllCheckbox = document.getElementById("selectAllCheckbox");
        selectAllCheckbox.addEventListener("change", function () {
            const itemCheckboxes = document.querySelectorAll(".itemCheckbox");
            itemCheckboxes.forEach((checkbox) => {
                checkbox.checked = selectAllCheckbox.checked;
            });
        });

        document.addEventListener("contextmenu", function (event) {
            event.preventDefault();
            const target = event.target;

            if (target.classList.contains("itemCheckbox")) {
                return;
            }

            const tableRow = target.closest("tr");

            if (tableRow) {
                const itemCheckboxes = document.querySelectorAll(".itemCheckbox");
                itemCheckboxes.forEach((checkbox) => {
                    checkbox.style.display = (checkbox.style.display === "none" || checkbox.style.display === "") ? "inline-block" : "none";
                });
            }
        });

        
        
        const showModalButtonsLink = document.getElementById("showModalButtonsLink");
        showModalButtonsLink.addEventListener("click", function (event) {
        event.preventDefault();
        const modalButtonsContainer = document.getElementById("modalButtonsContainer");
        const modalButtons = document.getElementById("modalButtons");

        // Toggle visibility of the modal buttons
        modalButtons.style.display = (modalButtons.style.display === "none" || modalButtons.style.display === "") ? "block" : "none";
    });

    // Add an event listener to each checkbox to toggle the "Show Modal Buttons" link
    const itemCheckboxes = document.querySelectorAll(".itemCheckbox");
    itemCheckboxes.forEach((checkbox) => {
        checkbox.addEventListener("change", function () {
            toggleShowModalButtonsLink();
        });
    });

    // Function to toggle the visibility of the "Show Modal Buttons" link
    function toggleShowModalButtonsLink() {
        const modalButtonsContainer = document.getElementById("modalButtonsContainer");
        const anyCheckboxChecked = Array.from(itemCheckboxes).some((checkbox) => checkbox.checked);

        // Toggle visibility based on whether any checkbox is checked
        modalButtonsContainer.style.display = anyCheckboxChecked ? "block" : "none";
    }
    </script>
    <script src="{% static 'blacklist.js' %}"></script>
</body>
{% endblock %}