{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <title>Imara</title>
</head>
<body>

    <div id="topBar">
        <div id="logo" > <img src="{% static 'imarasmall.png' %}"width='200px' height="80px" alt="logo"></div>
        <!-- Add content for the top bar -->
        
        <!-- <div id="settings"><a href="{% url 'model' %}"><img src="{% static 'settings.245x256.png' %}" width='40px' height="40px" alt="settings icon"></a></div> -->
        <div id="logout"><a href="{% url 'logout' %}">Log out</a></div>
        <div id="user"><img src="{% static 'user.png' %}"width='40px' height="40px" alt="user icon">User:{{content.set}}</div>
    </div>

    <div id="sideMenu">
        <ul>
    
            <li class="{% if request.path == 'home/' %}active{% endif %}"><a href="{% url 'home' %}">Dashboard</a></li>
            <li class="{% if request.path == 'alerts/' %}active{% endif %}"><a href="{% url 'alerts' %}">Alerts{% if new_alerts %}<img id="alert" src="{% static 'alert-icon-1562.png' %}"><sup id="newalerts" >{{new_alerts}}</sup>{% endif %}</a></li>
            <li class="{% if request.path == 'reports/' %}active{% endif %}"><a href="{% url 'reports' %}">Reports</a></li>
            <li class="{% if request.path == 'blacklists/' %}active{% endif %}"><a href="{% url 'blacklists' %}">Blacklist</a></li>
            {% if allowed %}
            <li class="{% if request.path == 'adminpanel/' %}active{% endif %}"><a href="{% url 'adminpanel' %}">Admin</a></li>{% endif %}
            <a href="#" id="support">Contact Support</a>
        </ul>
    </div>
    

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var currentPath = "{{ request.path }}"; // Get the current path from Django template
            var activeLink = document.querySelector(`#sideMenu ul li a[href='${currentPath}']`);
            
            if (activeLink) {
                activeLink.parentNode.classList.add('active');
            }
        });
    </script>
    <div id="content">
       
        {% block content %}{% endblock %}
    </div>
    <script>
        // Function to refresh the page
        function refreshPage() {
            location.reload();
        }
      
        // Set an interval to call the refreshPage function every 5000 milliseconds (5 seconds)
        setInterval(refreshPage, 110000);
      </script>
</body>
</html>