<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Imara</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
</head>
<body>
    
</body>

<p><a href= "{% url 'home' %}">dashboard </a> 
    <a href= "{% url 'alerts' %}">alerts  </a> 
     <a href= "{% url 'reports' %}">reports </a>  
     <a href= "{% url 'model' %}">model </a>  
     <a href= "{% url 'guidelines' %}">guidelines </a>
     <a href= "{% url 'admin:index' %}">admin</a></p><a href="{% url 'logout' %}">Logout</a></html>

