{% extends 'header.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
</head>

<body>
    <div id="main" style="background-color: #ffffff;"><p><h3>Filter Statistics</h3></p>
      

        <form id="dataCollectionForm"onsubmit="submitForm(event)"method='post' >
            {% csrf_token %}
            <div >
                <button id="showCustomTimeBtn" type="button">Time View</button>Filtered values:{{general_stats.time_view}}<br>
                <div id="custom-time-dropdown" style="display: none;">
                    <label for="custom_start_date">Start Date:</label>
                    <input type="date" id="custom_start_date" name="custom_start_date" value="2020-01-01">

                    <label for="custom_end_date">End Date:</label>
                    <input type="date" id="custom_end_date" name="custom_end_date" value="2034-12-31">

           
                    <label for="customTimeOptions">Custom Time View:</label>
                    <select id="customTimeOptions" name="customTimeOptions">
                        <option value="lastDay">Last Day</option>
                        <option value="lastWeek">Last Week</option>
                        <option value="lastMonth">Last Month</option>
                        <option value="lastThreeMonths">Last Three Months</option>
                        <option value="lastSixMonths">Last Six Months</option>
                        <option value="lastYear">Last Year</option>
                        <option value="allTime"  >All Time</option> 
                    </select>

                    <!-- Submit button for custom time selection -->
                    <button id="customTimeSubmitBtn" type="button">Apply</button>
                </div>
            </div><br>

            <!-- For Stations -->
            <button id="showStationsBtn" type="button">Location view</button>Filtered values:{{general_stats.filtered_stations}}<br>
            <div id="station-dropdown" style="display: none;">
                {% for item in general_stats.stations %}
                    <label>
                        <input type="checkbox" name="stations" value="{{ item }}" selected> {{ item }}<br>
                    </label>
                {% endfor %}
            </div><br>

            <button type="submit" value="submit">Filter</button>
        </form><br>
        <a href="{% url 'transactions_report' %}" class="approve-btn">Generate transactions Report</a>
    </div>

  <br>
<script>
    
    var generalStats = {{ general_stats|safe }};
</script>

<div class="card cards1" style="background-color: #1565c0;">
  <h3>Transactions</h3>
  <div class="transactions-info">
    <div class="transactions-column">
      <h4>Predicted</h4>
      <p>{{general_stats.predicted_transactions}}</p>
    </div>
    <div class="transactions-column">
      
      <h4>Pending</h4>
      <p>{{general_stats.pending_transactions}}</p>
    </div>
  </div>
</div>
<div class="card cards2"style="background-color: #a41623;">
  <h3>Alerts</h3>
  <div class="transactions-info">
    <div class="transactions-column">
      <h4>Total alerts</h4>
      <p>{{general_stats.all_alerts}}</p>
    </div>
    <div class="transactions-column">
      <h4>Pending alerts</h4>
      <p>{{general_stats.waiting}}</p>
    </div>
    <div class="transactions-column">
      
      <h4>Approval Rate</h4>
      <p>{{general_stats.approval_rate}}%</p>
    </div>
  </div>
</div><br>

<div class="card pies"style="background-color: #fff;">
  <h3 >Approval</h3>
  <div class="card"id="pieChart2"></div>
</div>
<div class="card pies"style="background-color: #fff;">
  <h3 >Reports</h3>
  <div class="card"id="pieChart"></div>
</div>
<div class="card pies2" style="background-color: #fff;">
  <h3>Hourly Transaction Count</h3>
  <div class="card" id="barChart"></div>
</div>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{% static 'homepage.js' %}"></script>
{% endblock %}

{% include 'footer.html' %}
</div>
</body>
