{% extends 'header.html' %}{% load static %}
<link rel="stylesheet" href="{% static 'alerts.css' %}" >

<body>{% block content %}{% include 'reportmenu.html' %}


    <p>
        <button onclick=" openform()">Create report</button>
        <div id="formModal" class="modal">

            <div class="modal-content">
                <span class="close" onclick="closeform()">&times;</span>
                <form method='post' action="{% url 'reports' %}">
                    {% csrf_token %}
                    <label for="transactionid">Transaction Id:</label><br>
                    <input type="text" id="transactionid" name="transactionid"><br>
                    <!-- <label for="staffid">Staff Id:</label><br>
                    <input type="text" id="staffid" name="staffid"><br> -->
                    Report type:<br>
                    <input type="radio" id="false positive" name="report_status" value="false positive"><br>
                    <label for="false positive">False positive</label><br>
                    <input type="radio" id="false negative" name="report_status" value="false negative"><br>
                    <label for="false negative">False negative</label><br>
                    <input type="submit" name="action" value="submit" >
                </form>
            </div>
        </div>
        
    </p>
    <p>reports are:</p>
    {% if set %}
    <ol> {% for items in set %}
        <li>
            <p> 
                <form method="post" action="{% url 'reports' %}">
                    {{ items }}
                    <input type="hidden"name="item_value" value="{{ items }}">
                    {% csrf_token %}                   
                    <button type=submit class="approve-btn" name="action" value="delete report" >Delete report
                    </button>
            
                </form>
            </p>
        </li>
        {% endfor %}
    </ol>
    {% else %}
    <P>no reports here</P>{% endif %}
    <script src="{% static 'report.js' %}"></script>{% endblock %}
</body>
