{% extends 'header.html' %}{% load static %}{% block content %}
<link rel="stylesheet" href="{% static 'reports.css' %}" >

<body>
    <div id="main"><div id="title"> <h2>Reports</h2></div>
        
        <form id="dataCollectionForm"onsubmit="submitForm(event)"method='post' >
            {% csrf_token %}


            <div id="filter" class="card " ><h3>Filter Reports</h3>
                <button id="showCustomTimeBtn" type="button">Time View</button>{% if time_view %}Filtered values:{{time_view}}{{endif}}<br>
                <div id="custom-time-dropdown" style="display: none;">
                    <label for="custom_start_date">Start Date:</label>
                    <input type="date" id="custom_start_date" name="custom_start_date" value="2020-01-01">

                    <label for="custom_end_date">End Date:</label>
                    <input type="date" id="custom_end_date" name="custom_end_date" value="2034-12-31">

                    <!-- Your time view options dropdown for custom time -->
                    <label for="customTimeOptions">Custom Time View:</label>
                    <select id="customTimeOptions" name="customTimeOptions">
                        <option value="lastDay">Last Day</option>
                        <option value="lastWeek">Last Week</option>
                        <option value="lastMonth">Last Month</option>
                        <option value="lastThreeMonths">Last Three Months</option>
                        <option value="lastSixMonths">Last Six Months</option>
                        <option value="lastYear">Last Year</option>
                        <option value="allTime"  >All Time</option> 
                    </select>

                    <!-- Submit button for custom time selection -->
                    <button id="customTimeSubmitBtn" type="button">Apply</button>
                </div>
            

            <!-- For Stations -->
            <!-- <button id="showStationsBtn" type="button">Location view</button>Filtered values:{{general_stats.filtered_stations}}<br>
            <div id="station-dropdown" style="display: none;">
                {% for item in general_stats.stations %}
                    <label>
                        <input type="checkbox" name="stations" value="{{ item }}" selected> {{ item }}<br>
                    </label>
                {% endfor %}
            </div><br> -->

            <button type="submit" value="submit">Filter</button>
        </form>

    <p>
        <button onclick=" openModal(event)">Create report</button>
        <div id="formModal" class="modal">

            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <form method='post' action="{% url 'reports' %}">
                    {% csrf_token %}
                    <label for="transactionid">Transaction Id:</label><br>
                    <input type="text" id="transactionid" name="transactionid"><br>
                        Report type:<br>
                    <input type="radio" id="false positive" name="report_status" value="false positive"><br>
                    <label for="false positive">False positive</label><br>
                    <input type="radio" id="false negative" name="report_status" value="false negative"><br>
                    <label for="false negative">False negative</label><br>
                    <input type="submit" name="action" value="submit" >
                </form>
            </div>
        </div><div id="overlay"></div>
        
    </p>
</div>
    
  {% if count %}
  <div class="card" style="background-color: #ffffff;">
    <table>
        <thead>
            <tr>
                <th>Report Id</th>
                <th>Transaction Id</th>
                <th>Staff Id</th>
                <th>Report Status</th>
                <th>Timestamp</th>
                {% if allowed %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for items in filter %}
                <tr>
                    <td>{{ items.reportid }}</td>
                    <td>{{ items.transactionid }}</td>
                    <td>{{ items.staffid }}</td>
                    <td>{{ items.report_status}}</td>
                    <td>{{ items.timestamp }}</td>
                    {% if waiting %}
                    {% if allowed %}
                    <td>
                        <form method="post" action="{% url 'reports' %}">
                            <input type="hidden" name="item_value" value="{{ items }}">
                            {% csrf_token %}
                            <button type="submit" class="approve-btn" name="action" value="verify">Verify Report</button>
                        </form>
                    </td>{% endif %}{% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>{% endif %}
    <p>reports are:</p>
    {% if set %}
    <ol> {% for items in set %}
        <li>
            <p> 
                <form method="post" action="{% url 'reports' %}">
                    {{ items }}
                    <input type="hidden"name="item_value" value="{{ items }}">
                    {% csrf_token %}                   
                    <button type=submit class="approve-btn" name="action" value="delete report" >Delete report
                    </button>
            
                </form>
            </p>
        </li>
        {% endfor %}{% endif %}
    </ol>
    {% else %}
    <P>no reports here</P>{% endif %}</div>
    <script src="{% static 'homepage.js' %}"></script>
    <script src="{% static 'report.js' %}"></script>
</body>{% endblock %}
