.reject-btn {
    border-radius: 8px;
    background-color:#a41623;/*#dc3545;/*#ff5252;/*#9a031e; /*#ff0054;*/
    color:white;/* white;*/
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    cursor: pointer;

}
button.modal-option {
    margin: 5px; /* Adjust the value to your preference */
}
.reject-btn:hover {
    color: #8a8484; 
}
button.modal-option.apply-button,
button.modal-option.back-button {
    background-color: #a4a8dd;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px; /* Adjust the value to your preference */
}

button.modal-option.apply-button:hover,
button.modal-option.back-button:hover {
    color: #8a8484; 
    /* Add hover styles if needed */
}
.approve-btn {
    border-radius: 8px;
    background-color: #a4a8dd;/*#a4a8dd;*/
    color: white;
    margin-right: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    cursor: pointer;
}
.approve-btn1{
    border-radius: 8px;
    background-color: #a4a8dd;/*#a4a8dd;*/
    color: white;
    padding: 10px;
    margin:5px;
    border: none;
    cursor: pointer;

}
#add{
    background-color: #a4a8dd;
    border-radius: 8px;
    padding: 10px;
    color: white;
    margin:5px;
}
.approve-btn:hover {
    color: #8a8484; 
}
body{
    
    top:0;
    left:0;
    margin:0;
    padding:0;
    text-decoration: none;

}
.modal {
    border-radius: 8px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(235, 205, 205, 0.1);
    z-index: 999;
    width: 400px;
    height:650px;
}


/* Overlay styles */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

#modalButtons{
    position:fixed;
    top: 130px;
    left: 780px;

}

/* Styles for the submit and close buttons */
.modal-buttons button {
    margin-right: 10px;
}

/* Styles for the success message pop-up */
.success-popup {
    border-radius: 8px;
    display: none;
    position: fixed;
    margin:0;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top:0;
    padding-bottom:0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    color: #161414;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;

}
#delete{
    color:white;
    margin-left:15px;
    background-color:#ee3040;
    border-radius: 8px;
    padding:8px;
}
#change{
    padding:8px;
    border-radius: 8px;
    background-color: #a4a8dd;/*#dc3545;/*#ff5252;/*#9a031e; /*#ff0054;*/
    color:white;
}
form {
    width: 55%;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.modal-content {
    position: relative;
   
    background-color: #fff;
    margin: 5px auto;
    padding: 20px;
    border: 1px solid #b8afaf;
    border-radius: 8px;
    
}
label{
    margin:5px;
    margin-bottom:10px
}

#create{
    margin-top:20px
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#main {
    min-height: 78vh;
    height:100%;
    background-position-x:fixed;
    background-position-y:absolute;
    width: 100%; 
    background-color: #f0f0f0; 
    margin: 0;
    padding-bottom: 30px; 
    font-family: 'Arial', sans-serif;
}
#title{
    margin-left:30px;
    padding:0;
}
.itemCheckbox {
    display: none;
  }

.card {
    user-select: none;
    width:850px;
    background-position-x:fixed;
    margin-left: 30px;
    margin-right: 20px;
    margin-top:0;
    margin-bottom: 40px;
    padding: 0;
    padding:10px;
    border: 1px solid #b8afaf;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
#cards3 {
    width:300px;
    
    margin-left: 30px;
    margin-right: 20px;
    margin-top:0;
    margin-bottom: 40px;
    padding: 0;
    padding:10px;
    border: 1px solid #b8afaf;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead th {
    padding-left: 10px;

    border-bottom: 2px solid #000; /* Dark line color */
    text-align: left;
}


tbody td {
    
    padding:10px;
    padding-left: 15px;
    border-bottom: 1px solid #ccc; /* Light line color */
}
tbody tr:hover {
    background-color: #afd1ec; 
}

#menudots{
    margin:0;
    padding:0;
    border:0;
    height:15px;
    width:15px;
}
#automate{
    padding:10px;
    margin:10px;
}
#checkbox{
    margin:20px;
    padding:20px;
}
